---
import Base from '../layouts/Base.astro';
import Gallery from '../components/Gallery.astro';
import { compiler as items } from '../data/projects';
---
<Base pageTitle="Compiler">
  <h1 class="page-title1">Compiler</h1>
  <p class="intro">Scanners, parsers, and IR/lowering prototypes.</p>
  <Gallery items={items} />
</Base>
