---
import Base from '../layouts/Base.astro';
import Gallery from '../components/Gallery.astro';
import { hobbies as items } from '../data/projects';
---
<Base pageTitle="Hobbies">
  <h1 class="page-title1">Hobbies</h1>
  <p class="intro">A showcase of what I make in my free time!</p>
  <Gallery items={items} />
</Base>
