---
import Base from '../layouts/Base.astro';
---
<Base pageTitle="Info">
  <h1 class="page-title1">Info</h1>
  <p class="intro">UofT Computer Engineering. Prev SWE @ Modiface, Maplesoft. Open to roles in GTA or Vancouver.</p>
  <ul>
    <li>Email: <a href="mailto:taeh.kim.n@gmail.com">taeh.kim.n@gmail.com</a></li>
    <li>GitHub: <a href="https://github.com/taehkim1280">github.com/taehkim1280</a></li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/taehoonkim0/">linkedin.com/in/taehoonkim0/</a></li>
  </ul>
</Base>
